page-cps {

.card-header{
	background: url(../img/leafs.jpg);
}

.cpsauto
{
	color: color($colors, cpsa);
	font-size: 30px;
	font-weight: bold;

}
.cpsdsp
{
	color: color($colors, cpsd);
	font-size: 30px;
	font-weight: bold;

}


}
