page-dps {

.card-header{
	background: url(../img/city.jpg);
}


.dpick
{
	color: color($colors, dpick);
	font-size: 30px;
	font-weight: bold;

}
.drpck
{
	color: color($colors, drpck);
	font-size: 30px;
	font-weight: bold;

}
.inlay
{
	color: color($colors, inlay);
}
.kk
{
	color: color($colors, kk);
}

}
