page-we {

.card-header{
	background: url(../img/citylights.jpg);
}

.var
{
	color: color($colors, we);
	font-size: 30px;
	font-weight: bold;
	text-align: right;

}
.pal
{
	color: color($colors, we);
	font-size: 30px;
	font-weight: bold;

}


}
