page-dashboard {
.flexcont
{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}
.ion-card
{
	max-width: 30%;
}
.flexchild
{
	display: flex;
	flex-flow: row wrap;
}
.flexchildcol
{
	display: flex;
	flex-flow: column wrap;
}
.rowiconclass
{	
}
.on
{
	background-color: color($colors, danger);
}
.icon {
    color: white;
    padding: 2px;
    font-size: 1.4em;
}
.headgrid
{
	padding: 0px;
}
.headrow
{
	padding: 0px;
}

.headcol
{
	padding: 0px;
}
}
