page-home {
.misc{
	background-image:url(../assets/img/misc.jpg);
}
.opm{
	background-image:url(../assets/img/OPM.jpg);
}
.dps{
	background-image:url(../assets/img/KK.jpg);
}
.cps{
	background-image:url(../assets/img/cps.jpg);
}
.we{
	background-image:url(../assets/img/we.jpg);
}
.wa{
	background-image:url(../assets/img/wa.jpg);
}
.cams{
	background-image:url(../assets/img/cams.jpg);
}
.masterdata{
	background-image:url(../assets/img/masterdata.jpg);
}
.stock{
	background-image:url(../assets/img/stock.jpg);
}
.expendable{
	background-image:url(../assets/img/expendable.jpg);
}
.materialflow{
	background-image:url(../assets/img/materialflow.jpg);
}
}
