page-home {
.misc{
	background-image:url(../img/misc.jpg);
}
.opm{
	background-image:url(../img/OPM.jpg);
}
.dps{
	background-image:url(../img/KK.jpg);
}
.cps{
	background-image:url(../img/cps.jpg);
}
.we{
	background-image:url(../img/we.jpg);
}
.wa{
	background-image:url(../img/wa.jpg);
}
}
