page-masterdata {
.item-inner{
	padding-right: 0px !important;
	margin-left: 2px !important;
}
.item-md [item-start] {
       margin: 2px 2px 2px 2px;
}
.item-md{

       padding-left: 0px;
}
.scroll-content
{
	padding: 5px 5px 5px 5px !important;
}

}
