page-opm{

.card-header{
	background: url(../img/skye.jpg);
}

.com
{
	color: color($colors, com);
	font-size: 30px;
	font-weight: bold;

}
.dep
{
	color: color($colors, dep);
	font-size: 30px;
	font-weight: bold;

}
.slip
{
	color: color($colors, slip);
}


}

