page-opm{
.row
{
	align-items: center;
		
}
.colo
{
	text-align: center;	
}
.category
{
	color:color($colors, primary);
}

.unit 
{
	left-padding: 9px;
}
.card-header{
	background-color: color($colors, opm);
}

.card{
width: auto;
border-radius: 5px;
}

.com
{
	color: color($colors, com);
	font-size: 30px;
	font-weight: bold;

}
.dep
{
	color: color($colors, dep);
	font-size: 30px;
	font-weight: bold;

}
.slip
{
	color: color($colors, slip);
}
.toolbar-title{
	color: color($colors,white );
}
 .bar-button
{
 	color: color($colors, white);

}
.area
{
	font-size: 22px;
}
.badge
{
	padding: 6px 8px;

}
}

