
.colo
{
	text-align: left;	
}
.row
{
	align-items: flex-start;
	flex-wrap: nowrap;
}
.category
{
	color: color($colors, light);
}
.card-md h1
{
	color: color($colors, light);
}
.unit 
{
	left-padding: 9px;
}
.card{
width: auto;
border-radius: 5px;
}
.toolbar-title{
	color: color($colors,white );
}
 .bar-button
{
 	color: color($colors, white);

}
.area
{
	font-size: 22px;
}
.badge
{
	padding: 6px 8px;

}
