
.colo
{
	text-align: left;	
}
.row
{
	align-items: flex-start;
	flex-wrap: nowrap;
}
.category
{
	color: color($colors, light);
}
.stateok
{
	color: color($colors, light);
	text-align: right;
}
.stateerr
{
	color: color($colors, danger);
	text-align: right;
}
.card-md h1
{
	color: color($colors, light);
}
.unit 
{
	left-padding: 9px;
}
.card{
width: auto;
border-radius: 5px;
}
.toolbar-title{
	color: color($colors,white );
}
 .bar-button
{
 	color: color($colors, white);

}
.area
{
	font-size: 22px;
}
.badge
{
	padding: 6px 8px;

}
.graphfooter
{
	height: 0px;
}
.graphcanvas
{
	width: 100% !important;
	max-width: 800px;
	height: auto !important;
}
.chart-wrapper
{
}
.opcomment{
	float: left;
}
.opcnt{
	background-color: color($colors, secondary);
	float: right;
	padding: 2px 2px;
	border-radius: 2px;
}
.opsymbol{
	padding: 5px 5px 5px 5px;
}
.ion-md-alert{
	color: color($colors, danger);
}
.ion-ios-alert{
	color: color($colors, danger);
}
.ion-md-close-circle{
	color: color($colors, danger);
}
.ion-ios-close-circle{
	color: color($colors, danger);
}
.ion-md-information-circle{
	color: color($colors, dep);
}
.ion-ios-information-circle{
	color: color($colors, dep);
}
.ion-md-stats{
	color: color($colors, com);
}
.ion-ios-stats{
	color: color($colors, com);
}
.ion-md-warning{
	color: color($colors, dps);
}
.ion-ios-warning{
	color: color($colors, dps);
}
