page-wa {


.card-header{
	background: url(../assets/img/rock.jpg);
}



.fill
{
	color: color($colors, wa);
	font-size: 30px;
	font-weight: bold;

}
.open
{
	color: color($colors, wa);
	font-size: 30px;
	font-weight: bold;

}

.subarea
{
	text-align: right;
}

}
