page-misc {

.card-header{
	background: url(../img/starr.jpg);
}




.hbw
{
	color: color($colors, hbw);
	font-size: 30px;
	font-weight: bold;

}
.try
{
	color: color($colors, try);
	font-size: 30px;
	font-weight: bold;
}
.exc
{
	color: color($colors, exc);
	font-size: 30px;
	font-weight: bold;
}

.seb
{
	color: color($colors, seb);
	font-size: 30px;
	font-weight: bold;
}
.dps
{
	color: color($colors, dpsf);
	font-size: 30px;
	font-weight: bold;
}

.subarea
{
	text-align: right;
}

}
